{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container">
    {% for product in object_list %}
        {% if forloop.counter0|divisibleby:3 %}
        <div class="row mb-4">
        {% endif %}
        
            <div class="col">
                <div class="card" style="width: 18rem;">
                    {% if product.image %}
                    <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title text-center">{{ product.product_name }}</h5>
                      <!-- <p class="card-text">{{ product.description }}</p> -->
                      <h3 class="text-center">R$ {{ product.price }}</h3>
                      <div class="d-grid gap-2">
                        <a href="#" class="btn btn-primary">Comprar</a>
                      </div>
                    </div>
                  </div>
            </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}